<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="PivasDDrug.Properties.Settings.Pivas2013ConnectionString" connectionString="Data Source=192.168.10.124;Initial Catalog=Pivas2013;User ID=laennec" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup/></configuration>
