<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ChargeInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--苏大附一新院使用-->
        <binding name="ServiceSoap" />
        <!--启东人民医院使用-->
        <binding name="PivasWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.1.1.71/webapp/service.asmx" binding="basicHttpBinding"
          bindingConfiguration="ServiceSoap" contract="WebReference.ServiceSoap"
          name="ServiceSoap" />
      <endpoint address="http://192.168.1.190:7070/PivasWebservice.asmx"
          binding="basicHttpBinding" bindingConfiguration="PivasWebServiceSoap"
          contract="PivasCharge.PivasWebServiceSoap" name="PivasWebServiceSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <ChargeInterface.Properties.Settings>
      <!--宁波第一医院使用-->
      <setting name="ChargeInterface_WebReference_ESBService" serializeAs="String">
        <value>http://192.168.254.147:8778/EsbBusService.asmx</value>
      </setting>
      <setting name="SHLYD_Service_Address" serializeAs="String">
        <value>http://172.20.10.168:8077/SPDWebService.asmx</value>
      </setting>
      <setting name="GDHQ_Service_Address" serializeAs="String">
        <value>http://hisorderexecutionwebservice.saas.jd120.com/OrderManagerService.asmx</value>
      </setting>
    </ChargeInterface.Properties.Settings>
  </applicationSettings>
</configuration>