<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TranslatorWebServiceSoap" />
                <binding name="HISServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="TranslatorWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webxml.com.cn/WebServices/TranslatorWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TranslatorWebServiceSoap"
                contract="SR_Transfer.TranslatorWebServiceSoap" name="TranslatorWebServiceSoap" />
            <endpoint address="http://www.webxml.com.cn/WebServices/TranslatorWebService.asmx"
                binding="customBinding" bindingConfiguration="TranslatorWebServiceSoap12"
                contract="SR_Transfer.TranslatorWebServiceSoap" name="TranslatorWebServiceSoap12" />
            <endpoint address="http://127.0.0.1:8081/HISService.asmx" binding="basicHttpBinding"
                bindingConfiguration="HISServiceSoap" contract="SR_CustomerHis.HISServiceSoap"
                name="HISServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>